<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="socialBar">
  <ul class="socialIcons">
    <li><a href="#" class="socialIcon circle fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/" rel="me" target="_blank" class="socialIcon circle fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="/instagram/page" class="socialIcon circle fa-instagram"><span class="label">instagram</span></a></li>
  </ul>
</div>

<h1>OneBook</h1>
<img src="app/assets/images/onebook1.jpg" alt="OneBook" style="width:304px;height:228px">
<p>Find me in app/views/pages/main.html.erb</p>

<% config = {
      consumer_key: 'pAdvQqUYFlZxRDekqgKOQhg39',
      consumer_secret: 'vTsUtzEmK83jXr0cTR7OvREOL7R3ATVhfyptbCpscvCkKbBIam'
    }

    client = Twitter::REST::Client.new(config)
    users = ["elonmusk"]
    if current_user.twitterUsers != nil
      users = current_user.twitterUsers.split(",")
    end
    twitter_feed = users.map {|u| client.user_timeline(u, count: 10)}
    tweetList = []
    twitter_feed.each do |tf|
      tf.each do |tweet|
        tweetList.push(tweet)
      end
    end

    sortedTweetList = tweetList.sort { |x, y| y.created_at.to_datetime <=> x.created_at.to_datetime}
    %>

<div class="row">
  <div class="col-md-4 text-center">
    <div class="oneThirdSocialIcon socialIcon fa-twitter">
    </div>

    <div class="container-fluid">
      <h4>Twitter</h4>

      <article>
        <input type="checkbox" id="read_more" role="button">
        <label for="read_more" onclick=""><span>Expand</span><span>Hide</span></label>
        <section>
        <% sortedTweetList.each do |tweet| %>
          <h6><%= "@"+tweet.user.screen_name+":"+tweet.text %></h6>
      <% end %>
        </section>
      </article>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="oneThirdSocialIcon socialIcon fa-instagram">
    </div>
    <div class="container-fluid">
      <h4>Instagram</h4>

      <article1>
        <input type="checkbox" id="read_more1" role="button">
        <label for="read_more1" onclick=""><span>Expand</span><span>Hide</span></label>
        <section>
      <%= form_tag("", method: "get") do %>
          <%= label_tag(:instagramName, "Search for:") %>
          <%= text_field_tag(:instagramName) %>
          <%= submit_tag("Search") %>
      <% end %>
      <div class="instagram">
        <% if @instagram == nil %>
             unable to acccess private account
        <% else %>
            <% @instagram.each do |instagram| %>
                <div class="singleInstagram">
                    <%= image_tag instagram.images.standard_resolution.url %>
                </div>
            <% end %>
        <% end %>
      </div>
        </section>
      </article1>

    </div>
  </div>


  <div class="col-md-4 text-center">
    <div class="oneThirdSocialIcon socialIcon fa-facebook">
    </div>

    <div class="container-fluid">
      <h4>Facebook</h4>
      <article2>
        <input type="checkbox" id="read_more2" role="button">
        <label for="read_more2" onclick=""><span>Expand</span><span>Hide</span></label>
        <section>
          <% if @facebookuser %>
              <%= image_tag @facebookuser['picture']['data']['url'].to_s %>
              <%= @facebookuser['name'] %>
              <br/>
              <div class="span5" style="margin-top: 20px">
                <h2>Feeds</h2>
                <table class="table table-striped">
                  <tr>
                    <th>Story</th>
                    <th>created time</th>
                  </tr>
                  <% @feed.each do |f| %>
                      <tr>
                        <td><%= f["story"] %></td>
                        <td><%= f["created_time"] %></td>
                      </tr>
                  <% end %>
                </table>
              </div>

          <% else %>
              <%= link_to "Facebook Login", '/auth/facebook' %>
          <% end %>

         </section>
        </article2>
    </div>
  </div>
</div>


